body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard syntax */
} img {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Transparent */
}
#gameCanvas {
    border: 2px solid white;
} #missileButton {
position: absolute;
right: 20px; /* Position towards the right end */
bottom: 200px; /* Move up from the fire button */
width: 80px;
height: 80px;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
background-image: url('missilebutton.png');
}
#fireButton {
position: absolute;
right: 20px; /* Position towards the right end */
bottom: 100px; /* Move up from the bottom */
width: 80px;
height: 80px;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
background-image: url('firebutton.png');
} #leftButton {
    position: absolute;
    left: 10px; /* Position towards the right end */
    bottom: 100px; /* Move up from the bottom */
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('leftslide.png');
    }
    #rightButton {
        position: absolute;
        left: 80px; /* Position towards the right end */
        bottom: 100px; /* Move up from the bottom */
        width: 100px;
        height: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
        background-image: url('rightslide.png');
        } #shooterButton{
    position: absolute;
right: 20px; /* Position towards the right end */
bottom: 200px; /* Move up from the fire button */
width: 80px;
height: 80px;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
background-image: url('turret.png');
} #stunButton{
    position: absolute;
right: 20px; /* Position towards the right end */
bottom: 200px; /* Move up from the fire button */
width: 80px;
height: 80px;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
background-image: url('stun.png');
}

#score, #highScore, #time {
position: absolute;
color: white;
font-size: 20px;
background-color: transparent; /* Adjust transparency here */
padding: 5px 10px;
border-radius: 5px;
}

#highScore {
top: 50px;
font-size: 16px;
background-color: transparent;
}

#time {
top: 20px;
right: 20px;
font-size: 16px;
background-color: transparent;
} 

#gameOverScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;flex-direction: column;
}
#gameOverText {
    font-size: 36px;
    color: white;
    margin-top: 20px;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
#playAgainButton, #returnToMenuButton {
    padding: 5px 57px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 20px;
}
#returnToMenuButton {
    padding: 5px 30px;
    background-color: #bbbb12;
}
#menuScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('maintheme.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
    flex-direction: column;
    color: white; /* Ensuring text is visible */
    font-size: 18px; /* Adjust font size as needed */
}

#levelScreen {
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border: 2px solid white;
    flex-direction: column;
    z-index: 1000;
    color: white;
    box-sizing: border-box;
} .levelbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4f4f4f;
    border: 1px solid #fff;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 300px;
} #playButton, #howToPlayButton, #StorePlanes {
    background-color: transparent; /* Make the button backgrounds transparent */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    width: 187.5px; /* Increase the button width */
    height: 50px; /* Increase the button height */
    margin: 10px 10px; /* Add some space between the buttons, with more horizontal space */
    background-size: contain; /* Scale the background image to fit the button size */
    background-repeat: no-repeat; /* Don't repeat the background image */
    display: inline-block; /* Make the buttons display inline-block to remove gaps */
    vertical-align: middle; /* Align the buttons vertically */
}

#playButton {
    background-image: url('playbutton.png');
}

#howToPlayButton {
    background-image: url('howtoplaybutton.png');
}

#StorePlanes {
    background-image: url('storebutton.png');
}


#howToPlayPopup {
display: none;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
border: 2px solid white;
z-index: 1000;
color: white;
}

#howToPlayPopup p {
margin: 10px 0;
}

#closePopupButton {
padding: 10px 20px;
background-color: #ff0000;
color: white;
border: none;
cursor: pointer;
margin-top: 20px;
}  #pauseButton {
position: absolute;
top: 10px; /* Adjust as needed */
left: 50%; /* Center horizontally */
transform: translateX(-50%);
padding: 10px 20px;
background-color: transparent;
color: white;
border: none;
cursor: pointer;
font-size: 18px;
margin-top: 20px;
} #pauseScreen{
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
z-index: 998;
flex-direction: column;
color: white; /* Ensuring text is visible */
font-size: 18px; /* Adjust font size as needed */
} #resumepause {
padding: 5px 80px;
font-size: 22px;
background-color: #0400ff;
color: white;
border: none;
cursor: pointer;
margin-top: 20px;
} #restartpause {
background-color: rgb(167, 76, 2);
color: rgb(255, 255, 255);
padding: 5px 55px;
font-size: 22px;
border: none;
cursor: pointer;
margin-top: 20px;
} #returnpause {
background-color: rgb(255, 0, 140);
color: rgb(255, 255, 255);
padding: 5px 18px;
font-size: 22px;
border: none;
cursor: pointer;
margin-top: 20px;
}  #totalCoins {
position: absolute;
top: 20px;
left: 20px;
display: flex;
align-items: center;
color: white;
font-size: 20px;
background-color: transparent;
padding: 5px 10px;
border-radius: 5px;
}

#coinIcon {
width: 24px;
height: 24px;
margin-right: 5px;
} #storeMenu {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1002;
box-sizing: border-box;
}

.plane-item {
display: flex;
flex-direction: column;
align-items: center;
background-color: #222;
border: 1px solid #fff;
padding: 20px;
margin: 10px;
width: 300px;
}

.plane-item img {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
width: 200px;
height: auto;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Transparent */
}

.button {
margin-top: 10px;
padding: 10px 20px;
border: none;
cursor: pointer;
}

.buy-button {
background-color: gold;
border: 1px solid #000000; /* Border color and thickness */
border-radius: 18px; /* Adjust border-radius for roundness */
transition: background-color 0.3s ease;
} 

.equip-button {
background-color: green;
border: 1px solid #000000; /* Border color and thickness */
border-radius: 18px; /* Adjust border-radius for roundness */
transition: background-color 0.3s ease;
}

.equipped-button {
background-color: red;
border: 1px solid #000000; /* Border color and thickness */
border-radius: 18px; /* Adjust border-radius for roundness */
transition: background-color 0.3s ease;
} .icon {
width: 20px;
height: 20px;
vertical-align: middle;
} .arrow-button {
background: none;
border: none;
font-size: 2em;
color: white;
cursor: pointer;
} #planeHealth {
display: flex;
align-items: center; /* Align items vertically */
margin-top: 10px; /* Adjust top margin as needed */
}

#planeHealth .hearticon {
margin-right: 5px; /* Adjust margin as needed */    
font-size: 20px; /* Adjust font size as needed */
line-height: 1; /* Ensure the line height is normal to avoid extra spacing */
}

#healthValue {
font-size: 16px; /* Adjust font size as needed */
line-height: 1; /* Ensure the line height is normal to avoid extra spacing */
vertical-align: middle; /* Align vertically with the heart icon */
}


#closeStoreButton {
position: absolute;
top: 20px;
right: 10px;
cursor: pointer;
width: 30px;
height: 30px;
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
border: none; /* Remove border */
box-shadow: none; /* Remove any box shadow */
outline: none; /* Remove the outline on focus */
background-image: url('closeicon.png');
} #closelevelButton {
position: absolute;
top: 0px;
right: 0px;
cursor: pointer;
width: 30px;
height: 30px;
background-size: contain;
background-repeat: no-repeat;
background-color: transparent;
border: none; /* Remove border */
box-shadow: none; /* Remove any box shadow */
outline: none; /* Remove the outline on focus */
background-image: url('closeicon.png');
} #initialscreen {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
background-repeat: no-repeat;
background-color: black;
background-position: center;
z-index: 1005;
flex-direction: column;
color: white; /* Ensuring text is visible */
font-size: 18px; /* Adjust font size as needed */
} .toggle-button {
    position: fixed;
    z-index: 1002;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0; /* Remove default padding */
}

.toggle-button img {
    user-select: none; /* For modern browsers */
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    display: block;
} #planedesc {
    font-size: 12px;
    justify-content: center;
    align-items: center;
    font-weight: 300; /* Thin text */
}
